.btn-100 {
    width: 100%;
}

.txt-center {
    vertical-align: sub;
    text-align: center;
}

.bg {
    background-color: white;
}

.header-row {
    margin-bottom: 1%;
    font-weight: bold;
    text-align: center;
}

.cels {
    padding: 1%;
    border: solid 1px;
}

